.flashMessage {
  background-color: (var(--primary));
  position: absolute;
  bottom: 3rem;
  right: 50%;
  transform: translateX(50%);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 1px rgb(232, 232, 232);
  animation-name: flashMessage;
  animation-duration: 3500ms;
  text-align: center;
}


.flashMessage.success {
  background-color: rgb(124, 255, 112);
}

.flashMessage.error {
  background-color: rgb(255, 112, 112);
}

@keyframes flashMessage {
  from {
    opacity: 1;
  }

  90% {
    opacity: 0.85
  }

  to {
    opacity: 0;

  }
}
