@import './base.css';

.dynamic-underline {
  position: relative;
  display: inline-block;
}

.dynamic-underline::before {
  transition: 300ms;
  height: 4px;
  content: "";
  position: absolute;
  background-color: var(--primary);
  width: 0%;
  bottom: -2px;

}

.dynamic-underline:hover::before {
  width: 100%;
}

@keyframes btn-wiggle {
  from {
    top: -3px;
    left: -3px;
  }

  50% {
    top: -2.6px;
    left: -2.6px;
  }

  to {
    top: -3px;
    left: -3px;
  }
}

.btn-primary {
  background-color: black;
  color: black;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  max-width: 200px;
  width: 100%;
}

.btn-primary:before {
  content: attr(data-btn);
  color: white;
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--primary);
}

.btn-primary:hover:before {
  background-color: #009b24;
  cursor: pointer;
  animation-name: btn-wiggle;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

.btn-primary:active:before {
  top: 0;
  left: 0;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.815) inset;
}

.btn-secondary {
  background-color: black;
  color: black;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  padding: 0.5rem;
  max-width: 200px;
  width: 100%;
}

.btn-secondary:before {
  content: attr(data-btn);
  color: var(--primary);
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
}

.btn-secondary:hover:before {
  background-color: #f1f1f1;
  cursor: pointer;
  animation-name: btn-wiggle;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
}

.btn-secondary:active:before {
  top: 0;
  left: 0;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.815) inset;
}
